include:
  - remote: 'https://gitlab.freedesktop.org/freedesktop/ci-templates/-/raw/34f4ade99434043f88e164933f570301fd18b125/templates/fedora.yml'

stages:
  - prepare
  - build
  - test

.gnome-remote-desktop.fedora:35@common:
  variables:
    FDO_DISTRIBUTION_VERSION: 35
    BASE_TAG: '2022-05-05.0'
    FDO_UPSTREAM_REPO: GNOME/gnome-remote-desktop
    FDO_DISTRIBUTION_EXEC: |
      dnf -y update && dnf -y upgrade &&

      dnf install -y 'dnf-command(builddep)' &&

      # To build
      dnf install -y meson &&
      dnf builddep -y gnome-remote-desktop &&
      dnf install -y 'pkgconfig(epoxy)' 'pkgconfig(libdrm)' 'pkgconfig(gbm)' \
                     'pkgconfig(gudev-1.0)' &&
      dnf install -y asciidoc &&

      # To test
      dnf install -y openssl &&
      dnf install -y 'pkgconfig(libvncclient)' &&
      dnf remove -y pipewire0.2-devel pipewire0.2-libs &&
      dnf install -y 'pkgconfig(libpipewire-0.3)' &&
      dnf install -y 'pkgconfig(fuse3)' &&
      dnf install -y 'pkgconfig(ffnvcodec)' &&
      dnf install -y dbus-daemon xorg-x11-server-Xvfb python3-dbus \
                     python3-gobject gnome-settings-daemon mesa-dri-drivers \
                     xorg-x11-server-Xwayland mutter &&

      # To build gsettings-desktop-schemas
      dnf builddep -y gsettings-desktop-schemas --setopt=install_weak_deps=False &&
      dnf builddep -y gnome-settings-daemon --setopt=install_weak_deps=False &&
      dnf builddep -y mutter --setopt=install_weak_deps=False &&
      dnf install -y wayland-protocols-devel &&

      ./.gitlab-ci/install-meson-project.sh \
          https://gitlab.gnome.org/GNOME/gsettings-desktop-schemas.git \
          master . 469f576b9b18291f858d64f2d8805fc4d578b857 &&

      # To build gnome-settings-daemon
      ./.gitlab-ci/install-meson-project.sh \
          https://gitlab.gnome.org/GNOME/gnome-settings-daemon.git \
          master . 62325b51b56da15a6da7c8145e550ae047d361ea &&

      # To build mutter
      ./.gitlab-ci/install-meson-project.sh \
          https://gitlab.gnome.org/GNOME/mutter.git \
          main . f1cf35e1017f06c9fb5fa9bbcc18d434769024c7 &&

      dnf clean all

.gnome-remote-desktop.fedora:35@x86_64:
  extends: .gnome-remote-desktop.fedora:35@common
  variables:
    FDO_DISTRIBUTION_TAG: "x86_64-${BASE_TAG}"

default:
  # Cancel jobs if newer commits are pushed to the branch
  interruptible: true
  # Auto-retry jobs in case of infra failures
  retry:
    max: 1
    when:
      - 'runner_system_failure'
      - 'stuck_or_timeout_failure'
      - 'scheduler_failure'
      - 'api_failure'

build-fedora-container@x86_64:
  extends:
    - .fdo.container-build@fedora@x86_64
    - .gnome-remote-desktop.fedora:35@x86_64
  stage: prepare
  variables:
    GIT_STRATEGY: none

build-gnome-remote-desktop:
  extends:
    - .fdo.distribution-image@fedora
    - .gnome-remote-desktop.fedora:35@x86_64
  stage: build
  script:
    - meson . build -Ddebugtype=debugoptimized --werror
    - ninja -C build
    - ninja -C build install
  needs:
    - build-fedora-container@x86_64
  artifacts:
    expire_in: 1 day
    paths:
      - build

test-gnome-remote-desktop:
  extends:
    - .fdo.distribution-image@fedora
    - .gnome-remote-desktop.fedora:35@x86_64
  stage: test
  dependencies:
    - build-gnome-remote-desktop
  variables:
    XDG_RUNTIME_DIR: "$CI_PROJECT_DIR/runtime-dir"
    GSETTINGS_SCHEMA_DIR: "$CI_PROJECT_DIR/build/src"
    GSETTINGS_BACKEND: "keyfile"
  script:
    - mkdir -m 700 $XDG_RUNTIME_DIR
    - glib-compile-schemas $GSETTINGS_SCHEMA_DIR
    - dbus-run-session -- ./.gitlab-ci/run-tests.sh
  needs:
    - build-gnome-remote-desktop
