include:
  - remote: 'https://gitlab.freedesktop.org/freedesktop/ci-templates/-/raw/7402203527f61d6473d55ad701172d1606508c52/templates/fedora.yml'

stages:
  - prepare
  - build
  - test

.gnome-remote-desktop.fedora@common:
  variables:
    FDO_DISTRIBUTION_VERSION: 39
    BASE_TAG: '2023-12-13.1.libei'
    FDO_UPSTREAM_REPO: GNOME/gnome-remote-desktop
    FDO_DISTRIBUTION_EXEC: |
      dnf -y update && dnf -y upgrade &&

      dnf install -y 'dnf-command(builddep)' &&

      # To build
      dnf install -y meson &&
      dnf builddep -y gnome-remote-desktop &&
      dnf install -y 'pkgconfig(epoxy)' 'pkgconfig(libdrm)' 'pkgconfig(gbm)' \
                     'pkgconfig(gudev-1.0)' &&
      dnf install -y 'pkgconfig(ffnvcodec)' &&
      dnf install -y 'pkgconfig(fuse3)' &&
      dnf install -y 'pkgconfig(fdk-aac)' &&
      dnf install -y 'pkgconfig(tss2-esys)' \
                     'pkgconfig(tss2-mu)' 'pkgconfig(tss2-rc)' \
                     'pkgconfig(tss2-tctildr)' &&
      dnf install -y asciidoc &&
      dnf builddep -y mutter --setopt=install_weak_deps=False &&

      # To test
      dnf install -y openssl &&
      dnf install -y 'pkgconfig(libvncclient)' &&
      dnf remove -y pipewire0.2-devel pipewire0.2-libs &&
      dnf install -y 'pkgconfig(libpipewire-0.3)' &&
      dnf install -y dbus-daemon python3-dbus python3-gobject \
                     gnome-settings-daemon mesa-dri-drivers mutter &&

      ./.gitlab-ci/install-meson-project.sh \
        https://gitlab.gnome.org/GNOME/mutter.git \
        main . 7454287d3b2a9b3dbb15ecbf07a99c6272826d6e &&

      dnf clean all

.gnome-remote-desktop.fedora@x86_64:
  extends: .gnome-remote-desktop.fedora@common
  variables:
    FDO_DISTRIBUTION_TAG: "x86_64-${BASE_TAG}"

default:
  # Cancel jobs if newer commits are pushed to the branch
  interruptible: true
  # Auto-retry jobs in case of infra failures
  retry:
    max: 1
    when:
      - 'runner_system_failure'
      - 'stuck_or_timeout_failure'
      - 'scheduler_failure'
      - 'api_failure'

build-fedora-container@x86_64:
  extends:
    - .fdo.container-build@fedora@x86_64
    - .gnome-remote-desktop.fedora@x86_64
  stage: prepare
  variables:
    GIT_STRATEGY: none

build-gnome-remote-desktop:
  extends:
    - .fdo.distribution-image@fedora
    - .gnome-remote-desktop.fedora@x86_64
  stage: build
  script:
    - meson setup . build -Dbuildtype=debugoptimized -Dvnc=true --werror
    - ninja -C build
    - ninja -C build install
  needs:
    - build-fedora-container@x86_64
  artifacts:
    expire_in: 1 day
    paths:
      - build

test-gnome-remote-desktop:
  extends:
    - .fdo.distribution-image@fedora
    - .gnome-remote-desktop.fedora@x86_64
  stage: test
  dependencies:
    - build-gnome-remote-desktop
  script:
    - meson test -C build --no-rebuild --verbose --no-stdsplit -t 10
  needs:
    - build-gnome-remote-desktop
