image: registry.gitlab.gnome.org/gnome/gnome-remote-desktop/master:v2

stages:
  - build
  - test

default:
  # Cancel jobs if newer commits are pushed to the branch
  interruptible: true
  # Auto-retry jobs in case of infra failures
  retry:
    max: 1
    when:
      - 'runner_system_failure'
      - 'stuck_or_timeout_failure'
      - 'scheduler_failure'
      - 'api_failure'

build-gnome-remote-desktop:
  stage: build
  script:
    - meson . build -Ddebugtype=debugoptimized --werror
    - ninja -C build
    - ninja -C build install
  artifacts:
    expire_in: 1 day
    paths:
      - build

test-gnome-remote-desktop:
  stage: test
  dependencies:
    - build-gnome-remote-desktop
  variables:
    XDG_RUNTIME_DIR: "$CI_PROJECT_DIR/runtime-dir"
    GSETTINGS_SCHEMA_DIR: "$CI_PROJECT_DIR/build/src"
  script:
    - mkdir -m 700 $XDG_RUNTIME_DIR
    - glib-compile-schemas $GSETTINGS_SCHEMA_DIR
    - sed -i 's/.*module-rtkit.*/# &/' /etc/pipewire/pipewire.conf
    - sed -i 's/exec pipewire-media-session .*/exec pipewire-media-session -d bluez5,alsa-seq,alsa-pcm/' /etc/pipewire/pipewire.conf
    - dbus-run-session -- ./.gitlab-ci/run-tests.sh
  needs:
    - build-gnome-remote-desktop
