INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux
config.h
config.h.in
config.log
config.status
configure
libtool
m4/
src/.deps/
*.o
src/grd-dbus-*
src/*.service
stamp-h1
src/gnome-remote-desktop-control
src/gnome-remote-desktop-daemon
